<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='utility.css') }}">
</head>
<body style="margin: 20px;" class="bgblack">
    <div style="display: flex;">    
        <a href="/"><img src="{{ url_for('static', filename='Assets/Images/logo.png') }}" width="50px" alt="home"></a>
        <h1 style="margin-left: 20px;">Command History</h1>
    </div>
    <table style="margin-top: 30px; ">
        <thead>
            <tr>
                <th>User Input</th>
                <th>Response</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in history %}
            <tr>
                <td>{{ entry.input }}</td>
                <td>{{ entry.response | newline_to_br | safe }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>